<p>Hey {{ fullName }},</p>

<p>We've recevied a request to reset the password for the account associated with this email.
  No changes have been made to your account yet.
</p>

<p> You can reset your password by click the link bellow </p>

<p>
  <a href="{{resetPasswordUrl}}">Reset password</a>
</p>

{{#if isDevelopmentMode}}
<p> For development test </p>
<p> {{resetPasswordUrl}} </p>
{{/if}}

<p>If you did not request a new password, please let us know immedialely by replying to this email</p>

<p>- The Recruitment team -</p>
